<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  <ion-title>Antibiotic Policy</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
  <ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
    <h3 style="cursor: pointer;">
      {{d.title}}
      <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" item-end></ion-icon>
    </h3>
    <div *ngIf="isGroupShown(i)">{{d.res1}}</div>
    <div *ngIf="isGroupShown(i)">{{d.res2}}</div>
    <div *ngIf="isGroupShown(i)">{{d.res3}}</div>
    <div *ngIf="isGroupShown(i)">{{d.res4}}</div>
    <div *ngIf="isGroupShown(i)">{{d.res5}}</div>
  </ion-item>
</ion-list>
  <ion-card style="margin-top:100px;" text-justify>
    <ion-card-content>
      <ion-card-header>
        NOTE:
      </ion-card-header>
      Linezolid if MRSA is suspected METRONIDAZOLE can be added if ANAEROBIC cover of ANTIBIOTICS is not adequate
    </ion-card-content>
  </ion-card>
</ion-content>