page-risk-factors {
.card
{
    margin-top:150px;
}
.itemclass
{
    cursor: pointer;
}
 .toolbar-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color:orange;
    pointer-events: auto;
}
}
