page-softtisue-infec-table {
 ol,
    ul {
        list-style: none;
    }
     .toolbar-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color:orange;
    pointer-events: auto;
}
}
