<ion-menu [content]="content">
  <ion-header>
    <h5 style="float:left;">Antibiotic Policy</h5>
    <ion-buttons end>
      <img src="assets/images/hosLogo.png" width="40">
    </ion-buttons>
  </ion-header>

  <ion-content class="custom" >
    
    <ion-list *ngFor="let item of pages" >
        <ion-list-header>
          <ion-icon name="{{item.iconName}}" item-start>
			  {{item.title}}
		  </ion-icon>
        </ion-list-header>
        <ion-item menuClose ion-item (click)="openPage(item)" *ngFor="let subItem of item.pageName;" >{{subItem.name}}</ion-item>
    </ion-list>


  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>